fastapi>=0.68.0
uvicorn>=0.15.0
python-dotenv>=0.19.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart
sqlalchemy>=1.4.0
psycopg2-binary
python-jose[cryptography]
email-validator
celery
pydantic-settings>=2.0.0
python-slugify
cloudinary
